@model EventTracker_MVC.Models.Event

@{
    ViewData["Showbuttons"] = false;
}

<p>@ViewBag.UserName</p>
<partial name="_EventPartialView" model="Model" view-data="ViewData"/>
 <a asp-controller="Events" asp-action="Index"  class="btn btn-primary">Back to Events</a>