@model  IEnumerable<EventTracker_MVC.Models.Event>


@{
    ViewData["Showbuttons"] = true;
}

    <p class="alert alert-primary">@ViewBag.Title</p>
    <p class="display-3 w-25">@TempData["Heading"]</p>



    <div class="mt-3">
    <h1>Available Events</h1>
    <div class="card-deck">

@foreach(var item in Model)
        {
             <partial name="_EventPartialView" model="item" view-data="ViewData"/>
        }
      </div>
      </div>
   
    







 

<a asp-action="CreateEvent" class="btn btn-primary ">  New Event</a>